PEXELS_API_KEY=JXYSxzfCYKkpDs3FJJjh1ePOgZAMMALSvpfwpL24YfQZO11FWo9Yhrnw
# crucial for the project to work
LOG_LEVEL=trace # trace, debug, info, warn, error, fatal, silent
WHISPER_VERBOSE=true
PORT=3123
DEV=true # local development mode
DATA_DIR_PATH= # only for docker, otherwise leave empty
